## Version 2021/05/18
# make sure that your dns has a cname set for bitwarden and that your bitwarden container is not using a base url
# make sure your bitwarden container is named "bitwarden"
# set the environment variable WEBSOCKET_ENABLED=true on your bitwarden container

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name mautic.*;

    include /config/nginx/ssl.conf;

    client_max_body_size 128M;

    # enable for ldap auth, fill in ldap details in ldap.conf
    #include /config/nginx/ldap.conf;

    # enable for Authelia
    #include /config/nginx/authelia-server.conf;

    location / {
        # enable the next two lines for http auth
        #auth_basic "Restricted";
        #auth_basic_user_file /config/nginx/.htpasswd;

        # enable the next two lines for ldap auth
        #auth_request /auth;
        #error_page 401 =200 /ldaplogin;

        # enable for Authelia
        #include /config/nginx/authelia-location.conf;

        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app mautic;
        set $upstream_port 80;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
        
        #proxy_redirect          http:// https://;
        #proxy_ssl_server_name   on;
        #proxy_ssl_session_reuse on;

        #proxy_set_header        Host               $host;
        #proxy_set_header        X-Real-IP          $remote_addr;
        #proxy_set_header        X-Forwarded-Host   $host;
        #proxy_set_header        X-Forwarded-For    $proxy_add_x_forwarded_for;
        #proxy_set_header        X-Forwarded-Proto  https;
        #proxy_set_header        X-Forwarded-Port   $server_port;
        #proxy_set_header        Proxy "";
        #proxy_buffering         off;
        #proxy_cache             off;

    }

}
