# make sure that your dns has a cname set for n8n and that your n8n container is named n8n

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name n8n.*;

    include /config/nginx/ssl.conf;

    client_max_body_size 0;

    # enable for Authelia
    include /config/nginx/authelia-server.conf;

    location / {
        #enable for Authelia
        include /config/nginx/authelia-location.conf;

        proxy_set_header Connection '';
        chunked_transfer_encoding off;
        proxy_buffering off;
        proxy_cache off;
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app n8n;
        set $upstream_port 5678;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
        # proxy_pass http://n8n:5678/;
    }

    location ~ ^/(webhook|webhook-test) {
        proxy_set_header Connection '';
        chunked_transfer_encoding off;
        proxy_buffering off;
        proxy_cache off;
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app n8n;
        set $upstream_port 5678;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
        # proxy_pass http://n8n:5678/;
    }
}
